{
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "quotes": ["error", "single"]
    },
    "ignorePatterns": ["dist/js", "src/js/tota11y.min.js", "promise-polyfill.js", "fetch.umd.js"]
}